.form {
    width: 90%;
  }
  .form div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;

    padding: 40px 10px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 128, 128, 0.589);
    border-radius: 10px;
    box-shadow: 1px 2px 3px 4px #ccc;
    transition: all 0.3s ease-out;
  }
  .form Input {
    display: block;
    width:90%;
    height: 30px;
    margin: 30px auto;
    padding: 0 10px;
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px azure;
  }
  .form h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    color: white;
    word-spacing: 3px;
  }
  .form div:hover {
    background-color: teal;
  }
  .form button {
    padding: 10px 30px;
    border: 0;
    font-size: 20px;
    outline: 0;
    transition: all 0.3s;
   
  
  }
  .form button:hover {
      background-color: purple;
      color: white;
  }

  @media(max-width:500px){
      .form div{
          padding:20px 10px;
          width: 90%;
      }
  }
  